
.img-a 
  display: block 
  margin: left   
  width: auto
  height: auto
.slyder-color-1
  background-color: #FAF8FF
.slyder-color-2  
  background-color: #FEF0FF
.slyder-color-3
  background-color: #C0FCF5
.slyder-color-4 
  background-color: #FCDBBB
.tarjeta_Sp
  background-image: url("../assets/curso/images/tema1/ico_1.svg")
  background-size: contain 
  background-repeat: no-repeat
  background-position: center center 
  height: 800px
.tarjeta_Sp-1
  background-image: url("../assets/curso/images/tema1/ico_2.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  height: 800px
.tarjeta_Sp-2
  background-image: url("../assets/curso/images/tema1/ico_3.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-3
  background-image: url("../assets/curso/images/tema1/ico_4.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-4
  background-image: url("../assets/curso/images/tema1/ico_5.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-5
  background-image: url("../assets/curso/images/tema1/ico_6.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-6
  background-image: url("../assets/curso/images/tema1/ico_7.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-7
  background-image: url("../assets/curso/images/tema1/ico_8.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-8
  background-image: url("../assets/curso/images/tema1/ico_9.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-9
  background-image: url("../assets/curso/images/tema1/ico_10.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-10
  background-image: url("../assets/curso/images/tema1/ico_11.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-11
  background-image: url("../assets/curso/images/tema1/ico_12.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.tarjeta_Sp-12
  background-image: url("../assets/curso/images/tema1/ico_13.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
.color-custom
	background-color: #F3F9FF
	&::before
		background-color: #BBABF5
.tarjeta--gris 
    background-color: #FFFCF9
.tarjeta_Sp-13
  background-image: url("../assets/curso/images/tema2/ico_1.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 500px
.tarjeta_Sp-14
  background-image: url("../assets/curso/images/tema2/ico_2.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 500px
.tarjeta_Sp-15
  background-image: url("../assets/curso/images/tema2/ico_3.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  height: 500px
.table_overflow
  overflow-x: auto 
.th-1
	background-color: #FD8F25
	color: white
.th-2
	background-color: #F6F6F6
	color: black
  border-block-end-color: #000000
.th-3
  background-color: #FFFFFF
  color: black
  border-block-end-color: #000000
